@import './base';

p{
    color: #333333;
    font-family: PingFangSC-Regular;
    font-size: pxToRem(14);
    font-weight: 400;
    line-height: pxToRem(22);
}

.button{
    width: pxToRem(100);
    height: pxToRem(50);
    border-radius: pxToRem(8);
    margin: 1rem auto;
    background-color: #336699;
    opacity: 0.8;
}

.area{
    margin-left: pxToRem(0);
    margin-right: pxToRem(0);
    border-radius: pxToRem(15);
    box-shadow: 0 pxToRem(1.5) pxToRem(15) 0 rgba(0,0,0,0.02), 0 pxToRem(6) pxToRem(12) 0 rgba(0,0,0,0.08);
    margin-top: pxToRem(24);
    .divider{
        margin: 0 pxToRem(17) 0 pxToRem(15);
        border-bottom: pxToRem(0.5) solid #E5E5E5;
    }
}

.content{
    padding-bottom: pxToRem(14);
    min-height: pxToRem(500);
    position: relative;
}

.box{
    border: 1px solid #336699;
    background-color: #336699;
    opacity: 0.8;
    border-radius: pxToRem(4);
    .circle{
        border: 1px solid gray;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #E5E5E5;
        z-index: 100;
        display: block;
    }
    .left-border{
       position:absolute;
       top:0;
       left:0;
       height:100%;
       border:2px solid #336699;
       cursor:col-resize;
       .circle{
            &.top{
                position: absolute;
                top: -5px;
                left: -5px;
            }
            &.middle{
                position: absolute;
                top: calc(50% - 5px);
                left: -5px;
            }
            &.bottom{
                position: absolute;
                bottom: -5px;
                left: -5px;
            }
        }
    }
    .right-border{
        position:absolute;
        top:0;
        right:0;
        height:100%;
        border:10px solid #336699;
        cursor:col-resize;
        .circle{
            &.top{
                position: absolute;
                top: -13px;
                left: 5px;
            }
            &.middle{
                position: absolute;
                top: calc(50% - 5px);
                left: 5px;
            }
            &.bottom{
                position: absolute;
                bottom: -13px;
                left: 5px;
            }
        }
    }
    .top-border{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        border:2px solid #336699;
        cursor:row-resize;
        .circle{
            position: absolute;
            top: -10px;
            left: calc(50% - 5px);
        }
    }
    .bottom-border{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        border:2px solid #336699;
        cursor:row-resize;
        .circle{
            position: absolute;
            left: calc(50% - 5px);
        }
    }
}